
.chat-window {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-window-title {
    height: 4rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.chat-record {
    flex: 1;
    white-space: pre-wrap;
    overflow: auto;
}

.chat-record-list{
    margin-left: 1rem;
    margin-right: 1rem;
}

.chat-record-list div{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.chat-record-myself {
    justify-content: end;
    justify-items: end;
}

.chat-record-other {
    justify-content: start;
}

.chat-record-list-p-other{
    margin-left: 1rem;
    margin-right: 10rem;
    background-color: var(--chat-record-list-p-other-color);
    padding: 0.5rem;
    border-radius: 0.5rem; /* 设置圆角半径 */
}

.chat-record-list-p-myself{
    margin-right: 1rem;
    margin-left: 10rem;
    background-color: var(--chat-record-list-p-myself-color);
    padding: 0.5rem;
    border-radius: 0.5rem; /* 设置圆角半径 */
}

.chat-tool {
    border-top: 1px solid #2f2f2f;
    height: 3rem;
}

.chat-input {
    display: flex;
    flex-direction: column;
    height: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.chat-input .chat-myself{
    justify-content: end;
}

.chat-input textarea {
    flex: 1;
    background: var(--chat-input-textarea-color);
    border: none;
    outline: none;
    font-size: 1rem;
    resize: none;
}

.chat-input textarea:focus {
    caret-color: white;
}

.avatar-img {
    width: 2rem;
    height: 2rem;
}

