.friends-list {
    background-color: rgba(34, 34, 34);
    height: 100vh;
}

.friends-list img {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
}

.friends-list p {
    margin-left: 0.5rem;
}

.friends-list div {
    display: flex;
    width: 15rem;
    height: 4rem;
    align-items: center;
}

.friends-list div:hover {
    background-color: rgba(54, 54, 54);
}